# Data Preparation

This notebook details the initial steps of preparing the `Telco Customer Churn` dataset for analysis. It includes data loading, understanding, and cleaning processes to ensure the data is in a format for further analysis. Key tasks involve handling missing values, encoding categorical variables, normalizing numerical features, and addressing any data quality issues.

**By the end of this notebook, the dataset will be transformed into a refined version ready for exploratory data analysis and model development.**

## Loading Tools and Data

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:,.2f}'.format)

df = pd.read_csv('../data/telco_customer_churn.csv')

## Understanding The Data
- Dataframe `shape`
- `info`
- `head` and `tail`
- `describe`
- `unique` values

In [2]:
df.shape

(7043, 21)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [5]:
df.describe()

       SeniorCitizen   tenure  MonthlyCharges
count       7,043.00 7,043.00        7,043.00
mean            0.16    32.37           64.76
std             0.37    24.56           30.09
min             0.00     0.00           18.25
25%             0.00     9.00           35.50
50%             0.00    29.00           70.35
75%             0.00    55.00           89.85
max             1.00    72.00          118.75

## Data Preparation
- Dropping irrelevant columns and rows
- Identifying duplicated columns / incorret datatypes
- Renaming columns 
- Feature creation or addressing any concerns

In [6]:
for column, rows in df.items():
    print('----------')
    print(f'{column} --- {df[column].unique()} --- {df[column].dtype}')

----------
customerID --- ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK'] --- object
----------
gender --- ['Female' 'Male'] --- object
----------
SeniorCitizen --- [0 1] --- int64
----------
Partner --- ['Yes' 'No'] --- object
----------
Dependents --- ['No' 'Yes'] --- object
----------
tenure --- [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39] --- int64
----------
PhoneService --- ['No' 'Yes'] --- object
----------
MultipleLines --- ['No phone service' 'No' 'Yes'] --- object
----------
InternetService --- ['DSL' 'Fiber optic' 'No'] --- object
----------
OnlineSecurity --- ['No' 'Yes' 'No internet service'] --- object
----------
OnlineBackup --- ['Yes' 'No' 'No internet service'] --- object
----------
DeviceProtection --- ['No' 'Yes' 'No internet service'] --- object
----------
TechSupport --- ['No' 'Yes' 'No internet service'] --- object
----------
StreamingTV --- ['No' 'Yes' 'No internet service'] --- object
----------
StreamingMovies --- ['No' 'Yes' 'No internet service'] --- object
----------
Contract --- ['Month-to-month' 'One year' 'Two year'] --- object
----------
PaperlessBilling --- ['Yes' 'No'] --- object
----------
PaymentMethod --- ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)'] --- object
----------
MonthlyCharges --- [29.85 56.95 53.85 ... 63.1  44.2  78.7 ] --- float64
----------
TotalCharges --- ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5'] --- object
----------
Churn --- ['No' 'Yes'] --- object

We will be dropping `customerID` as this feature is simply a unique identifier, unnecessary for our analysis and holds no predictive value for determining whether a customer will churn.

In [7]:
df.drop('customerID', axis=1, inplace=True)

It looks like some add-on services are marked as `No internet service`. We need to make sure that when a customer has `No` for `InternetService`, all related services also say `No internet service`. This will make sure our data is consistent before we apply `One Hot Encoding` for better analysis and use in our churn model.

In [8]:
services = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies']
for column in services:
    assert df[(df['InternetService'] == 'No') & (df[column] != 'No internet service')].empty
for column in services:
    assert (df[df['InternetService'] != 'No'][column] != 'No internet service').all()

Now we will replace all `No internet service` entries with `No` since not having internet also means not having the add-on services. We already track the `InternetService` separately so future analysis should still differentiate users with and without internet service. We verify No internet service exists with the following assertion code.

In [9]:
df.replace('No internet service', 'No', inplace=True)
assert df[df['DeviceProtection']=='No internet service'].empty

Similarly, we will replace all `No phone service` entries with `No` under `MultipleLines` because not having phone service means not having multiple lines. We already track `PhoneService` separately.

In [10]:
df.replace('No phone service', 'No', inplace=True)
assert df[df['MultipleLines'] == 'No phone service'].empty

Many features are `Yes` or `No` categories reflecting if a customer is subscribed to a specific service. We will apply `One Hot Encoding` to transform the nominal data because it will ensure our model can interpret the data correctly, avoid bias, and work effectively with complex relationships leading to accurate and reliable predictions.

In [11]:
for column, rows in df.items():
    if len(df[column].unique()) == 2:
        encode = pd.get_dummies(data=df[column], dtype=int, drop_first=True)
        df[column] = encode

Below we check other features that have `more than just a Yes, No` relationship to also apply `One Hot Encoding`, which will require concatenating `new features` so to help our model better understand customer data.

In [12]:
for column, rows in df.items():
    if len(df[column].unique()) > 2:
        print('----------')
        print(f'{column} --- {df[column].unique()} --- {df[column].dtype}')

----------
tenure --- [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39] --- int64
----------
InternetService --- ['DSL' 'Fiber optic' 'No'] --- object
----------
Contract --- ['Month-to-month' 'One year' 'Two year'] --- object
----------
PaymentMethod --- ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)'] --- object
----------
MonthlyCharges --- [29.85 56.95 53.85 ... 63.1  44.2  78.7 ] --- float64
----------
TotalCharges --- ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5'] --- object

Our features `InternetService`, `Contract`, and `PaymentMethod` contain categorical data that needs to be converted to numerical format for our predictive model. By again applying `One-Hot Encoding` to these features and then `concatenating` the resulting new features to the original DataFrame, we effectively clean and prepare our data for modeling.

In [13]:
internet_type = pd.get_dummies(data=df['InternetService'], dtype=int)
contract_type = pd.get_dummies(data=df['Contract'], dtype=int)
payment_type = pd.get_dummies(data=df['PaymentMethod'], dtype=int)
df = pd.concat([df, internet_type, contract_type, payment_type], axis=1)
df.drop(['InternetService','Contract','PaymentMethod'], axis=1, inplace=True)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,DSL,Fiber optic,No,Month-to-month,One year,Two year,Bank transfer (automatic),Credit card (automatic),Electronic check,Mailed check
0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,29.85,29.85,0,1,0,0,1,0,0,0,0,1,0
1,1,0,0,0,34,1,0,1,0,1,0,0,0,0,56.95,1889.5,0,1,0,0,0,1,0,0,0,0,1
2,1,0,0,0,2,1,0,1,1,0,0,0,0,1,53.85,108.15,1,1,0,0,1,0,0,0,0,0,1
3,1,0,0,0,45,0,0,1,0,1,1,0,0,0,42.30,1840.75,0,1,0,0,0,1,0,1,0,0,0
4,0,0,0,0,2,1,0,0,0,0,0,0,0,1,70.70,151.65,1,0,1,0,1,0,0,0,0,1,0

In [14]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df['TotalCharges'] = df['TotalCharges'].astype(float)
df['TotalCharges'].isna().sum()

11

While converting the feature `TotalCharges` into numerical variables, we found `11 strings` that could not be converted. These values were `replaced with the average` of the `TotalCharges` column because the small number of nulls is unlikely to significantly impact our data.

In [15]:
df['TotalCharges'].fillna(df['TotalCharges'].mean(), inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   gender                     7043 non-null   int64
 1   SeniorCitizen              7043 non-null   int64
 2   Partner                    7043 non-null   int64
 3   Dependents                 7043 non-null   int64
 4   tenure                     7043 non-null   int64
 5   PhoneService               7043 non-null   int64
 6   MultipleLines              7043 non-null   int64
 7   OnlineSecurity             7043 non-null   int64
 8   OnlineBackup               7043 non-null   int64
 9   DeviceProtection           7043 non-null   int64
 10  TechSupport                7043 non-null   int64
 11  StreamingTV                7043 non-null   int64
 12  StreamingMovies            7043 non-null   int64
 13  PaperlessBilling           7043 non-null   int64
 14  MonthlyCharges             7043 non-null   float64
 15  TotalCharges               7043 non-null   float64
 16  Churn                      7043 non-null   int64
 17  DSL                        7043 non-null   int64
 18  Fiber optic                7043 non-null   int64
 19  No                         7043 non-null   int64
 20  Month-to-month             7043 non-null   int64
 21  One year                   7043 non-null   int64
 22  Two year                   7043 non-null   int64
 23  Bank transfer (automatic)  7043 non-null   int64
 24  Credit card (automatic)    7043 non-null   int64
 25  Electronic check           7043 non-null   int64
 26  Mailed check               7043 non-null   int64
dtypes: float64(2), int64(25)
memory usage: 1.5 MB

`Reorganizing` our columns and `renaming` the data to better reflect our `One-Hot Encoded` data and what the features truly represent.

In [16]:
df.rename({
    'gender':'Male', 'tenure':'AccountLength', \
    'DSL':'DSLInternet','Fiber optic':'FiberOpticInternet','No':'NoInternet', \
    'Month-to-month':'MonthlyContract', 'One year':'AnnualContract', 'Two year':'BiannualContract', \
    'Bank transfer (automatic)':'AutoBankTransfer','Credit card (automatic)':'AutoCreditCard', \
    'Electronic check':'ElectronicCheck', 'Mailed check':'MailedCheck'}, axis=1, inplace=True)

df = df[[
    'Male','Partner','Dependents','SeniorCitizen','AccountLength', \
    'PhoneService','MultipleLines','NoInternet','DSLInternet','FiberOpticInternet', \
    'OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies', \
    'MonthlyContract','AnnualContract','BiannualContract','AutoBankTransfer','AutoCreditCard', \
    'ElectronicCheck','MailedCheck','PaperlessBilling','MonthlyCharges','TotalCharges','Churn']]

df.head()

,Male,Partner,Dependents,SeniorCitizen,AccountLength,PhoneService,MultipleLines,NoInternet,DSLInternet,FiberOpticInternet,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,MonthlyContract,AnnualContract,BiannualContract,AutoBankTransfer,AutoCreditCard,ElectronicCheck,MailedCheck,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
0,0,1,0,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,1,29.85,29.85,0
1,1,0,0,0,34,1,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,0,1,0,56.95,"1,889.50",0
2,1,0,0,0,2,1,0,0,1,0,1,1,0,0,0,0,1,0,0,0,0,0,1,1,53.85,108.15,1
3,1,0,0,0,45,0,0,0,1,0,1,0,1,1,0,0,0,1,0,1,0,0,0,0,42.30,"1,840.75",0
4,0,0,0,0,2,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,1,70.70,151.65,1

In [17]:
df.to_csv('../data/clean_telco_churn.csv', index=False)

In [18]:
try:
    print('Script Executed Successfully')
except:
    print('FAILED')

Script Executed Successfully